*{
    /* font-family: unset, serif, sans-serif; */
    font-family: cursive, serif, sans-serif;
}

}
.purple
{
    color: red;
}

li { 
    font-family:Arial, Helvetica, sans-serif
    font-style: italic;
}
.column { 
    font-weight:bold;
}
th, td {
    padding: 15px;
    text-align: left;
}
body {
    margin: 20px;
}
.jumbotron {
    background-image: url("image/background.jpeg");
   background-size: cover;
   padding: 32px;
}
.img-small {
    width: 250px;
}